{% extends 'chat/navigation.html' %}
{ load static }


{% block content_page %}
<style>

label {
        color: white;
        font-size: 16px;
    }
input {
    background-color: gray;
    border: solid 1px white;
    border-spacing: 10px;
    color:white;
    height: 23px;
    border-radius: 5px;
}
.success_message {
    color:  rgb(73, 133, 73);
}

</style>
<div class = "container d-flex justify-content-center flex-column">
    <div class = "container d-flex justify-content-center">
        <form method = "POST" action = "/chat/change_email">
            {% csrf_token %}
            <div class = "container d-flex flex-column text-center">
                <div class="container d-flex justify-content-start">
                    {{ change_email_form.new_email.label_tag }}
                </div>
                <div class = "conatiner mt-2">
                    {{ change_email_form.new_email }}
                </div>
                <div class = "conatiner mt-4 d-flex justify-content-start">
                    {{ change_email_form.password_verify.label_tag }}
                </div>
                <div class = "conatiner mt-2">
                    {{ change_email_form.password_verify }}
                </div>
            </div>
            <div class = "container d-flex justify-content-center">
                <button class = "btn btn-dark mt-4" type = "submit" >Change Email</button>
            </div>
        </form>
    </div>
    <div class = "conatiner d-flex justify-content-center mt-4 sm-4">
        <p class = "success_message">
            {{ success_message }}
        </p>
    </div>
</div>

{% endblock %}