{% extends 'chat/navigation.html' %}
{% load static %}


{% block content_page %}
<link rel="stylesheet" type="text/css" href="{% static 'css/friends.css' %}" >
<div class = "friends_list continer">
    <div class="row friends_images">
        {% for friend , avatar_url in friend_list.items %}
        <div class="col d-flex justify-content-center">
            <div class = "row d-flex justify-content-center mt-3">
                <button class = "button_friend" style = "background-image: {{avatar_url}}" name = "{{friend}}"></button>
                <p class = "username_friend">{{friend}}</p>
            </div>
        </div>
        {% endfor %}
    </div>


    <div class = "col chat_section">
        <div class = "row d-flex justify-content-center">
            <div class = "overflow-auto mt-1 message_page">
            </div>
            <div class = "container mt-0" style = "width: 80%;">
                <div class = "row">
                        <div class = "col-1">
                            <div class = "row option_buttons mt-1">
                                <div class="p-0">
                                    <button class = "choose_file">choose file</button>
                                    <form id="FileForm" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <input type="file" name="file" id="fileInput" style="display: none;">
                                        <input type = "text" name="username" id = "input_receiver_username" style="display: none;">
                                    </form>
                                    <p class = "file_name">no file</p>
                                </div>
                            </div>
                        </div>
                    <div class = "col-10 ps-0 pe-1">
                        <textarea class = "text_input" style = "height: 70%; width: 100%" placeholder="type here..."></textarea>
                    </div>
                    <div class = "col-1 p-0">
                        <button class = "send_message_button">>>></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<script> var my_username = "{{my_username}}";</script>
<script src = "{% static 'js/friends.js' %}"></script>

{% endblock %}
