<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html>
    
    <head>
        <title>MyFriends</title>

        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/navigation.css' %}" >
        <link rel="stylesheet" 
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    </head>

    <body>
        <div class="mt-0 mb-5">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chat/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chat/profile">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chat/notifications">Notification</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/chat/friends">Friends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="logout-button" href="/chat/logout">Log out</a>
                </li>
                <li class="nav-item searchItem">
                    <div class="search d-flex align-items-center">
                        <input placeholder="search..." rows="1"></input>
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </li>
            </ul>
        </div>

        <!-- <div class = "container mt-5 d-flex justify-content-center">
            <img class = "logo" src = "{%  static 'main/logo.png' %}">
        </div> 


        <script>
            var logo = document.getElementsByClassName('logo')[0];
            logo.onclick = function() {
                window.location.href = "/chat/panel"
            }
            var window_location = window.location.href.split('/');
            var locations = [
                'friends','change_password','notifications',
                'profile','dashboard','change_email', 'search' ,''
            ]
            for(let i = 0; i < locations.length; i++) 
                if("chat/" + locations[i] === window_location[3] + '/' + window_location[4])
                    logo.remove();
        </script> -->
        <script src = " {% static 'js/search_nav.js' %}"></script> 
        {% block content_page %}


        {% endblock %}
        <!-- <div class = "footer_container mt-5 mb-2 d-flex justify-content-center align-items-center">
            <div class = "container ">
                <footer>
                    <div class = " d-flex justify-content-center align-items-center">
                        <a href = "https://github.com/SilviuPe" class = "footer_contacts me-3"> Github</a> 
                        <a href = "https://instagram.com/just.python" class = "footer_contacts me-3"> Instagram</a>
                    </div>
                    <div class = " d-flex justify-content-center align-items-center mt-3">
                        <p class = "footer_contacts m-0">silviu.petrea88@yahoo.com</p>
                    </div>
                </footer>
            </div>  
        </div> -->
        
    </body>
</html>