{% extends 'chat/navigation.html' %}
{% load static %}


{% block content_page %}
<style>
.user {
    background-color: rgb(88, 88, 88);
    border-radius: 5px;
}
.user img {
    border-radius: 100%;
    height:40px;
    margin-top: 4px;
}
.user p {
    color: rgb(255, 255, 255);
    font-size: 15px;
    margin-top: 15px;
}
.user button {
    height:20px;
    line-height: 0px;
    margin-left: 70%;
    margin-top: 5px;
}
</style>
<div class = "container">
    <div class = "col">
        {% for username, avatar in users_match %}
            <div class = "row mt-2">
                <div class = "user">
                    <div class = "row">
                        <div class = "col">
                            <img class = "p-2"src = "{{ avatar }}">    
                        </div>
                        <div class = "col">
                            <p>{{username}}</p>
                        </div>
                        <div class = "col-9 d-flex align-items-center">
                            <button class = "btn btn-success addFriend {{username}}">add</button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
<script src = "{% static 'js/search' %}"></script>
{% endblock %}