.nav {
    background-color: rgb(51, 51, 51);
    border-radius: 5px;
}
.nav-link {
    color: white;
}
.nav-link:hover,
.nav-link:active {
    color: gray;
}
.nav-link:focus {
    outline: none; /* Remove focus outline */
    color: white;
}
.nav-link
a {
    font-size: 20px;
    color: white;
}
body, html {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgb(30,30,30),rgb(80,80,80));
    background-repeat: no-repeat;
}
.logo {
    width: 120px;
}
.footer_contacts {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
a.footer_contacts:hover {
    color: gray;
}
.footer_container {
    background-color: gray;
    height: 100px;
}
.search {
    height: 100%;
}
.search input {
    height: 20px;
    border: none;
    resize: none;
    border-radius: 5px;
    background-color: rgb(65, 65, 65);
    font-size: 10px;
    color: white;
    outline: none;
}
.search button {
    height: 20px;
    width: 20px;
    border: none;
    margin-left: 4px;
    border-radius: 5px;
    background-color: rgb(51, 51, 51);
    color:white;
    font-size: 10px;
    padding-bottom: 4px;
}
.search button:hover,
.search button:active {
    color:gray;
}
.search button:active {
    color:rgb(156, 156, 156);
    border: 1px solid rgb(156, 156, 156);
}
.searchItem {
    margin-left: auto;
    margin-right: 20px;
}
#logout-button {
    color:rgb(254, 76, 76);
}