{% extends 'chat/navigation.html' %}
{% load static %}



{% block content_page %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" >
    <div class = "container">
        <div class = "d-flex justify-content-center align-items-center edit_profile_content">
            <div class = "d-flex flex-column text-center">
                <div class = "container">
                    <h3 class = "edit-profile title">Edit profile</h3>
                </div>
                <div class = "container mt-5">
                    <div class = "col d-flex flex-column">
                        <!-- Profile avatar-->
                        <div class = "col-md-12 d-flex align-items-left"> 
                            <label class = "avatar-label">Profile Avatar</label> <!--Avatar input -->
                        </div>
                        <div class = "col-md-12 mt-3">
                            <div class = "col d-flex flex-column align-items-center">
                                <button class = "avatar_selector" style = "background-image: {{avatar_url}};">
                                    Select Avatar
                                </button>
                                <table id = "images_for_avatar">
                                    {% for img_list in rows_range %}
                                        <tr>
                                            {% for img in img_list %}
                                                <td>
                                                    <img src = "{% static 'chat/' %}{{ img }}" class = "avatar_image">
                                                </td>
                                            {% endfor %}
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>                        
                        </div>
                        <!-- Username -->
                        <div class = "col-md-12 mt-4 d-flex align-items-left">
                            <lable class = "username_label"> Username: </lable> <!-- Username label -->
                        </div>
                        <div class = "col-md-12 mt-3 d-flex align-items-left"> 
                            <input required id = "username_in" value = "{{request.session.username}}" type = "text" class = "username_input" name = "username"> <!-- Username input -->
                        </div>
                        <!-- Email -->
                        <div class = "col-md-12 mt-4 d-flex">
                            <button class = "email_button">Change email</button>
                        </div>
                        <!-- Password -->
                        <div class = "col-md-12 mt-4 d-flex">
                            <button class = "password_button">Change password</button>
                        </div>
                        <!-- SAVE Button-->
                        <div class = "col-md-12 mt-5 d-flex justify-content-end">
                            <button class = "save_button">save changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class = "container d-flex justify-content-center errors mt-4"></div>
        <div class = "success_message container d-flex justify-content-center mt-4"
        style = "color: rgb(73, 133, 73);"> 
            {{success_saved_message}}
        </div>
    </div>
    <form method = "POST" action = "/chat/profile/" id = "profile_form"> {% csrf_token %}</form>
    <script src = "{% static 'js/profile.js' %}"></script>
{% endblock %}